*,ul,ol,p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	border-radius: 7px;
	background-color: white;
}
::-webkit-scrollbar-thumb {
	background-color: #cdcdcd;
	border-radius: 8px;
}

body {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-main {
	border-radius: 10px;
    width: 1200px;
    height: 750px;
    overflow: hidden;
	position: relative;
}

.cover__for__modal {
	transition: .3s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	background-color: rgb(230, 230, 230);
	opacity: .4;
	display: none;
}

.everything {
    width: 100%;
    height: 100%;
}

.users__navbar {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.asidebar {
    transform:scaleY(0);
    transform-origin: top;
    position: absolute;
    top: 50px;
    left: 10px;
    height: 480px;
    background-color: white;
    width: 270px;
    z-index: 2;
    transition: transform .2s;
    border-radius: 10px;
    box-shadow: 0 0 5px 4px #ececec;
}

.asidebar__list {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.asidebar__item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.asidebar__item:hover {
    background-color: #f4f4f5;
}

.asidebar__item__special {
    background-color: #f4f4f5;
    text-align: center;
}

.asidebar__item>img {
    width: 23px;
    height: 23px;
    fill: #707579;
}

.asidebar__item__text {
    padding-left: 30px;
    margin: 0;
    font-size: 17px;
}

.asidebar__item__specialText {
    font-size: 13px;
    color: #a2a7b5;
    background-color: #f4f4f5;
}

.hamburger {
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	outline: none;
	border: none;
    margin: 15px 10px 15px 0;
	padding: 12px 10px ;
    border-radius: 50%;
    transition: .3s;
    position: relative;
    
}

.hamburger:hover {
    background-color: #f4f4f5;
    
}

.hamburger__span {
    height: 2px;
	width: 20px;
	margin-bottom: 3px;
	background-color: #6c7883;
	border-radius: 15px;

}

.search__form {
    position: relative;
}

.search__users__icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 22px;
    height: 22px;
    fill: #c5c2bf;
}

.search__users {
    background-color: #f4f4f5;
    border-radius: 20px;
    border: none;
    outline: none;
    height: 40px;
    width: 310px;
    padding-left: 45px;
    border: 2px solid #f4f4f5;
}

.search__users::placeholder {
    color: #c5c2bf;
}

.search__users:focus{
    border: 2px solid #58a6ea;
}

.users{
	overflow-y: scroll;
	height: 100%;
    background-color: #ffffff;
	border-right: solid 2px #f4f4f5;
}

.users__list {
	height: 100%;
	padding-left: 10px;
}

.users__item {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-radius: 10px;
}

.users__item_hover:hover {
    background-color: #f4f4f5;
}

.users__item__selected {
    background-color: #4c90e6;
}

.users__img {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.users__info {
    margin-left: 10px;
    letter-spacing: -0.3px;
}

.users__info_switch {
    margin-left: 10px;
    letter-spacing: -0.3px;
}

.users__name {
    font-size: 17px;
    font-weight: 500;
}

.users__last_message {
    color: #7a7a81;
}

.users__last_message_switch {
    color: #7a7a81;
}

.chat {
	background: linear-gradient(to right, #9bf8f4, #6f7bf7);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	padding: 80px 10px 70px 10px !important;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.chat-initial {
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 15px;
	background-color: white;
	color: #333;
}

.chat-cover {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background:linear-gradient(to right, #9bf8f4, #6f7bf7);
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.chat-cover-hidden {
	display: none;
}

.chat-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;	
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top-right-radius: 10px;
}

.nav__data {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.nav__data__cover {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
}

.nav__data__link {
	text-decoration: none;
	margin-left: 10px;

}

.nav__data__title {
	color: #333;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}

.nav__data__time {
	margin-bottom: 0;
	font-size: 13px;
	color: #4c5c6d;
}

.nav__opportunity__list {
	display: flex;
}

.nav__opportunity__link {
	padding: 0 13px;
}

.nav__opportunity__icon{
	width: 20px;
	height: 20px;
}

.nav__data__img {
	object-fit: cover;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}



.messages-list {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.message {
	display: flex;
	border-radius: 7px 7px 0 7px;
	max-width: 27vw;
	margin: 5px 0;
	background-color: #eefedf;
	align-self: flex-end;
	word-break: break-all;
}

.message__her {
	display: flex;
	border-radius: 0px 7px 7px 7px;
	max-width: 27vw;
	margin: 5px 0;
	background-color: white;
	align-self: flex-start;
	word-break: break-all;
}

.message__text {
	padding: 7px;
}

.message__time__sent {
	color: #79a4cf;
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0;
	display: flex;
	align-self: flex-end;

}

.chat-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.chat-form {
	width: 100%;
}

.input-m {
	width: 100%;
	position: relative;
	padding: 15px 75px 15px 45px;
	background-color: white;
	outline: none;
	border: none;
	color: #333;
	border-bottom-right-radius: 10px;
}

.chat__file__upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file__upload__emoji {
	fill: #697681;
	width: 23px;
	height: 23px;
}

.file__upload__label:hover .file__upload__emoji {
	fill: #58a6ea;
} 

.file__upload__label {
	width: 30px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	cursor: pointer;

}

.smile {
	position: absolute;
	right: 50px;
	top: 10px;
}

.audio {
	position: absolute;
	right: 10px;
	top: 10px;
}

.chat-footer__emoji__link:hover .footer__smile {
	fill: #58a6ea;
}

.footer__smile {
	fill: #697681;
	width: 22px;
	height: 22px;
}

.chat-footer__emoji__link:hover .footer__audio {
	fill: #58a6ea;
}

.footer__audio {
	fill: #697681;
	width: 22px;
	height: 22px;
}

.search__chat {
	width: 20px;
	height: 20px;
	fill:#697681;
}

.search__chat:hover {
	fill: #58a6ea;
}



.modaljon {
	display: none;
	height: 500px;
	width: 400px;
	position: absolute;
	border-radius: 15px;
	z-index: 5;
	top: 20%;
	left: 40%;
	transform: translateY(-50px);
	transform: translateX(-50px);
	background-color: white;
	padding: 10px;
}

.modal__nav{ 
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal__nav__title {
	font-size: 20px;
	font-weight: 500;
	color: #333;
	margin: 0;
}

.modal__nav__icons {
	display: flex;
	align-items: center;
}

.modal__nav__icon {
	fill: #697681;
	width: 25px;
	height: 25px;
	transition: .2s;
}

.modal__nav__icon__item {
	margin: 0 5px;
	cursor: pointer;
}

.modal__nav__icon__item:hover .modal__nav__icon {
	fill: #58a6ea;
}

.modal__info {
	display: flex;
	align-items: center;
	margin: 25px 0;
}

.edit__my__name {
	margin-left: auto;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
}

.edit__my__name__cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
}

.edit__my__name__icon {
	fill: #697681;
	width: 40px;
	height: 40px;
}

/* .edit__my__name__icon:hover {
	fill: ;
} */

.modal__img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
}

.modal__info__text {
	margin-left: 15px;
}

.modal__info__name {
	font-size: 20px;
	font-weight: 500;
}

.modal__info__status {
	font-size: 14px;
}

.modal__data {
	background-color: white;
	border-top: 10px solid  #a9b1b8;
	display: flex;
	padding-top: 25px;
	transform: translateY(-50px);
	z-index: 2;
	transition: .4s;
}

.modal__data__back {
	background-color: white;
	border-top: 10px solid  #a9b1b8;
	display: flex;
	padding-top: 25px;
	transform: translateY(10px);
	z-index: 2;
	transition: .4s;
}



.field__input{ 
	--uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
	
	background-color: transparent;
	border-radius: 0;
	border: none;
  
	-webkit-appearance: none;
	-moz-appearance: none;
  
	font-family: inherit;
	font-size: inherit;
  }
  
  .field__input:focus::-webkit-input-placeholder{
	color: var(--uiFieldPlaceholderColor);
  }
  
  .field__input:focus::-moz-placeholder{
	color: var(--uiFieldPlaceholderColor);
  }
  
  /*
  =====
  CORE STYLES
  =====
  */
  
  .field{
	--uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
	--uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
	--uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);   
	--uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
  
	display: var(--fieldDisplay, inline-flex);
	position: relative;
	font-size: var(--fieldFontSize, 1rem);
  }
  
  .field__input{
	box-sizing: border-box;
	width: var(--fieldWidth, 100%);
	height: var(--fieldHeight, 3rem);
	padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft);
	border-bottom: var(--uiFieldBorderWidth) solid var(--fieldBorderColor, rgba(0, 0, 0, .25));  
  }
  
  .field__input:focus{
	outline: none;
  }
  
  .field__input::-webkit-input-placeholder{
	opacity: 0;
	transition: opacity .2s ease-out;
  }
  
  .field__input::-moz-placeholder{
	opacity: 0;
	transition: opacity .2s ease-out;
  }
  
  .field__input:focus::-webkit-input-placeholder{
	opacity: 1;
	transition-delay: .2s;
  }
  
  .field__input:focus::-moz-placeholder{
	opacity: 1;
	transition-delay: .2s;
  }
  
  .field__label-wrap{
	box-sizing: border-box;
	pointer-events: none;
	cursor: text;
  
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }
  
  .field__label-wrap::after{
	content: "";
	box-sizing: border-box;
	width: 100%;
	height: 0;
	opacity: 0;
  
	position: absolute;
	bottom: 0;
	left: 0;
  }
  
  .field__input:focus ~ .field__label-wrap::after{
	opacity: 1;
  }
  
  .field__label{
	position: absolute;
	left: var(--uiFieldPaddingLeft);
	top: calc(50% - .5em);
  
	line-height: 1;
	font-size: var(--fieldHintFontSize, inherit);
  
	transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
	will-change: bottom, opacity, font-size;
  }
  
  .field__input:focus ~ .field__label-wrap .field__label,
  .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
	--fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
  
	top: var(--fieldHintTopHover, .25rem);
  }
  
  /* 
  effect 1
  */
  
  .field_v1 .field__label-wrap::after{
	border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
	transition: opacity .2s ease-out;
	will-change: opacity;
  }
  
  /* 
  effect 2
  */
  
  .field_v2 .field__label-wrap{
	overflow: hidden;
  }
  
  .field_v2 .field__label-wrap::after{
	border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
	transform: translate3d(-105%, 0, 0);
	will-change: transform, opacity;
	transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
  }
  
  .field_v2 .field__input:focus ~ .field__label-wrap::after{
	transform: translate3d(0, 0, 0);
	transition-delay: 0;
  }
  
  /*
  effect 3
  */
  
  .field_v3 .field__label-wrap::after{
	border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
	will-change: opacity, height;
	transition: height .2s ease-out, opacity .2s ease-out;
  }
  
  .field_v3 .field__input:focus ~ .field__label-wrap::after{
	height: 100%;
  }
  
  /*
  =====
  LEVEL 4. SETTINGS
  =====
  */
  
  .field{
	--fieldBorderColor: #D1C4E9;
	--fieldBorderColorActive: #673AB7;
  }
  
  

.modal__data__icon {
	width: 30px;
	height: 30px;
	fill: #697681;
}

.modal__data__public {
	margin-left: 30px;
}

.modal__data__public__item {
	margin-bottom: 10px;
}

.modal__data__subtext {
	color:#697681;
	font-size: 14px;
}